* {
    margin: 0;
    padding: 0;
}

section {
    padding-top: 100px;
}

.nav-link, .type-of-plan, .characters > li {
    text-transform: uppercase;
}

#navbarTogglerDemo01 {
    margin: 0 0 0 15%;
    text-align: right;
    max-width: 1700px;
}

.navbar-toggler-icon {
    color: #1b1e21;
}

li > a:hover {
    background-color: #ffbb42;
}

.nav-link:hover {
    color: white;
}

#registered_form, footer {
    background-color: #709dca;

}

.form-row {
    margin: 0;
}

.form-control {
    height: 50px;
    margin: 6px;
}

.banner-name, #clients .title-price, footer > span {
    color: white;
}

.circle > h1 {
    padding-top: 30px;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
}

.slide {
    text-align: center;
}

.carousel-inner img {
    width: 100%;
    height: 80%;
}

.carousel-indicators {
    color: #1b1e21;
}

.icon {
    color: #709dca;
    margin: 0 5px;
    font-size: 25px;
}

#services > h1 + p {
    margin-bottom: 100px;
}

#about-us {
    margin: 0;
    padding: 0;
    background-color: #ffd362;
    height: 600px;
}

#about-us div {
    padding: 0;
    position: relative;
}

#about-us > div > img {
    padding: 0;
    position: absolute;
    top: -40px;
}

.about div {
    position: absolute;
    top: 30%;
    color: white;
    margin-left: 75px;
}

#price {
    background-color: #e7edf3;
    padding-bottom: 100px;
    padding-top: 150px;
}

#label_price {
    align-items: center;
}

.price_type:first-child, .price_type:last-child {
    background-color: white;
    padding: 50px 0;
    color: grey;
}

.blue {
    background-color: #709dca;
    padding: 50px 0;
    color: white;
    border-top: 25px solid #709dca;
    border-bottom: 25px solid #709dca;

}

.btn, #clients {
    background-color: #ffbb42;
}

.btn > a {
    text-decoration: none;
    color: #ffffff;
}

.characters {
    list-style: none;
    padding: 0;
}

.type-of-plan + div > span {
    color: #ffbb42;
    font-weight: bold;
    font-size: 54px;
}

.start {
    margin-bottom: 80px;
}

.description {
    margin: 50px 0;
}

.client {
    background-color: white;
    padding: 10px;
    display: flex;
    margin: 15px;
}

.client > p > img {
    float: left;
}

.client > p {
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 15px 0;
}

#clients {
    padding-bottom: 100px;
}

.circle {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    text-align: center;
    background-color: #0c5460;
    color: white;
    margin: auto;

}

.map {
    margin: 20px 0;
    width: 100%;
    height: 100%;
}

.address {
    position: relative;
    background-image: url('images/map.png');
    background-color: white;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 546px;
    margin: 20px 0;
    align-content: center;
    padding-top: 55px;
}

#toTop {
    width: 50px;
    height: 50px;
    background: #709dca;;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    display: none;
    color: white;
    font-size: 45px;
    z-index: 10;
}

#toTop .fa {
    position: absolute;
    left: 10px;
}

@media screen and (min-width: 320px) {
    section {
        min-width: 320px;
        padding-top: 50px;
    }

    h1 {
        font-size: 30px;
    }

    #services > h1 + p {
        margin-bottom: 25px;
    }

    .centered .fa-5x {
        font-size: 4em;
    }
}
